<html>
    <head>
        <title>This is a Livepeer Alert Notification for TokenHolders.</title>
    </head>
    <body>
        <h3>Summary information:</h3>
        <p>{{data}}</p>
        <p><a href="{{unsubscribeEmailUrl}}">To unsubscribe click here</a></p>
        <p>Best regards</p>
    </body>
</html>