<html>
    <head>
        <title>You're on your way! Let's confirm your email address.</title>
    </head>
    <body>
        <p>By clicking on the following link, you are confirming your email address and agreeing to LivePeer Alert Notification's <a href="{{termsOfServiceUrl}}">Terms of Service</a>.</p>
        <p><a href="{{activationEmailUrl}}">Confirm Email Address</a></p>
        <p><a href="{{unsubscribeEmailUrl}}">To unsubscribe click here</a></p>
        <p>Best regards</p>
    </body>
</html>